@model IEnumerable<HealthCorp.Core.Entities.Appointment>

@{
    ViewData["Title"] = "Appointments";
}

<h1>Appointments</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Schedule New Appointment</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Doctor</th>
            <th>Patient</th>
            <th>Status</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
        </tr>
}
    </tbody>
</table>
